@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 30px;
    margin-top: 30px;
}

p {
    font-size: 15px;
    color: var(--medium-gray);
    line-height: 1.5em;

}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; 
    
}

.container {
    background: #232A32;
    background: -webkit-radial-gradient(top, #232A32, #111922);
    background: -moz-radial-gradient(top, #232A32, #111922);
    background: radial-gradient(to bottom, #232A32, #111922);
    padding: 40px;
    /* height: 375px; */
    width: 350px;
    border-radius: 25px;
}

#rate-us {
    display: none;
}

.button {
    background-color: var(--dark-blue);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    color: var(--medium-gray);
}

#button-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    margin-top: 25px;
}

#submit-container {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
}

#submit {
    width: 100%;
    height: 40px;
    border: none;
    background-color: var(--orange);
    color: hsl(0, 0%, 100%);
    border-radius: 50px;
    font-family: inherit;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 16px;
}


/* styles for thank you state */

#thank-you {
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#illustration-container {
    display: flex;
}

#review-summary {
    display: inline-block;
    width: 60%;
    margin: 40px auto;
    text-align: center;
}

#rating {
    margin: 0px;
    height: 2em;
    padding: 0 15px; 
    border: none;
    background-color: var(--dark-blue);
    color: var(--orange);
    border-radius: 50px;
    font-family: inherit;
    font-size: 15px;
}

#thank-text-container {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
}

#thank-text-container h1 {
    margin: 0;
}